.button {
  box-sizing: border-box;
  width: 280px;
  padding: 17px 47px;

  font-family: "PT sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .button {
    width: 458px;
  }
}
