.contact-information {
  text-transform: uppercase;

  border: none;
}

.contact-information__title {
  .title-form;
}

.contact-information__label {
  .label-form;
}

.contact-information input::placeholder {
  padding-left: 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
