.contact-information {
  position: relative;

  text-transform: uppercase;

  border: none;
}

.contact-information__legend {
  top: 18px;
  left: 0;

  width: 100%;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.contact-information__hidden {
  margin: 0;
  padding: 0;
}

.contact-information input {
  box-sizing: border-box;
  width: 228px;
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 16px 0 15px 19px;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }
  // активные стили контактной информации
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
  //
}

.contact-information__label {
  width: 280px;
  padding-left: 42px;

  .label-form();

  &--tel::before {
    content: "";
    position: absolute;
    top: 80px;
    right: 20px;

    width: 57px;
    height: 58px;

    background: url("../img/icon-phone.svg") center no-repeat;
    background-color: #e6e6e6;
  }

  &--mail::after {
    content: "";
    position: absolute;
    top: 184px;
    right: 21px;

    width: 57px;
    height: 58px;

    background: url("../img/icon-mail.svg") center no-repeat;
    background-color: #e6e6e6;
  }
}

.contact-information__title {
  width: 320px;
  margin-top: 15px;
  padding-top: 18px;
  padding-right: 5px;
  padding-bottom: 15px;

  border-top: 1px solid #e6e6e6;

  .title-form;
}

.contact-information input::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.contact-information__field {
  margin-left: 20px;

  &:last-child {
    margin-bottom: 26px;
  }
}

@media (min-width: @tablet-width) {
  .contact-information {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 0;

    border: 0;
  }

  .contact-information__legend {
    position: static;

    width: 100%;

    font-size: 21px;
  }

  .contact-information input {
    width: 590px;
    margin-bottom: 20px;
  }

  .contact-information__field {
    margin-left: 0;
  }

  .contact-information__label {
    padding-left: 20px;

    &--tel::before {
      top: 99px;
      right: 1px;

      background-color: #e6e6e6;
    }

    &--mail::after {
      top: 210px;
      right: 1px;

      background-color: #e6e6e6;
    }
  }

  .contact-information__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 0;

    font-size: 21px;
    text-align: center;

    border: none;

    &::before,
    &::after {
      content: "";

      flex-shrink: 0;
      width: 19%;
      height: 1px;

      background-color: #dbdbdb;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contact-information {
    width: 960px;
    margin-bottom: 15px;
  }

  .contact-information__title {
    margin-top: 10px;
    margin-bottom: 48px;

    &::before,
    &::after {
      width: 28%;
    }
  }

  .contact-information input {
    width: 260px;
    margin-left: 10px;
  }

  .contact-information__label {
    padding-left: 0;

    &--mail {
      margin-left: 135px;

      &::after {
        top: 112px;
        right: 1px;
      }
    }

    &--tel::before {
      top: 112px;
      left: 343px;
    }
  }

  .contact-information__hidden {
    display: none;
  }
}
