.emotions {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.emotions__legend {
  position: absolute;
  top: 18px;
  left: 0;

  width: 100%;

  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.emotions__title {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 15px;

  text-transform: uppercase;

  border-top: 1px solid #e6e6e6;

  .title-form;
}

.emotions__feedback {
  box-sizing: border-box;
  width: 279px;
  min-height: 160px;
  margin-bottom: 45px;
  margin-left: 20px;
  padding: 20px 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }
  // активные стили отзыва
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
  //
}

.emotions__required {
  display: none;
}

@media (min-width: @tablet-width) {
  .emotions__legend {
    position: static;

    width: 100%;
  }

  .emotions__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
    padding-top: 10px;
    padding-right: 20px;

    font-size: 21px;
    text-align: center;

    border: none;

    &::before,
    &::after {
      content: "";

      flex-shrink: 0;
      width: 19%;
      height: 1px;

      background-color: #dbdbdb;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .emotions__feedback {
    width: 648px;
    margin: 0;
    margin-bottom: 53px;
    padding-top: 15px;
  }

  .emotions__required {
    display: inline-block;
    box-sizing: border-box;
    width: 180px;
    margin: 0;
    margin-left: 140px;
    padding: 0;

    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    width: 960px;
  }

  .emotions__legend {
    width: 100%;
  }

  .emotions__feedback {
    width: 960px;
    margin-bottom: 50px;
  }

  .emotions__required {
    margin-left: 295px;
  }

  .emotions__title {
    padding-left: 20px;

    &::before,
    &::after {
      width: 29%;
    }
  }
}
