.emotions {
  margin: 0;
  padding: 0;

  border: none;
}

.emotions__title {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 25px;

  text-transform: uppercase;

  border-top: 1px solid #e6e6e6;

  .title-form;
}

.emotions__feedback {
  box-sizing: border-box;
  width: 279px;
  min-height: 160px;
  margin-bottom: 50px;
  margin-left: 5px;
  padding: 20px 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.form__button {
  margin-left: 5px;
}
