.emotions {
  border: none;
}

.emotions__title {
  text-transform: uppercase;

  .title-form;
}

.emotions__feedback {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
}
