.form__button {
  margin-left: 5px;
}

@media (min-width: @tablet-width) {
  .form {
    width: 648px;
    margin: 0 auto;
  }

  .form__button {
    width: 324px;
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
  }

  .form__button {
    width: 480px;
  }
}
