.introduction {
  text-transform: uppercase;
}

.introduction__image {
  min-height: 389px;
  margin-bottom: 43px;

  background: url("../img/bg-intro-triangle-mobile.svg") 50% 100% no-repeat,
  url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  background-color: #81b3d2;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/bg-intro-triangle-mobile.svg") 50% 100.5% no-repeat,
    url("../img/bg-back-mobile@2x.jpg") center no-repeat;
    background-size: 768px auto;
  }

  &--photo {
    min-height: 100px;
    margin-bottom: 37px;

    background-position: 50% 101%, 50% 100%;
  }

  &--form {
    min-height: 50px;
    margin-bottom: 37px;

    background-position: 50% 101%, 50% 100%;
  }
}

.introduction__text {
  padding: 85px 20px;

  &--photo {
    width: 229px;
    height: 39px;
    padding: 50px 40px;
    padding-bottom: 65px;
  }

  &--form {
    width: 230px;
    height: 40px;
    padding: 56px 40px;
  }
}

.introduction__title {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  &--form {
    margin-bottom: 27px;
  }
}

.introduction__paragraph {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;

  &--photo {
    width: 270px;
    margin-bottom: 22px;

    font-size: 24px;
  }

  &--index {
    width: 255px;
    margin-bottom: 8px;
  }

  &--form {
    width: 280px;
    margin-bottom: 9px;
  }
}

@media (min-width: @tablet-width) {
  .introduction__title {
    width: 500px;
    margin-bottom: 30px;

    font-size: 21px;

    &--photo {
      font-size: 30px;
    }

    &--form {
      font-size: 30px;
    }
  }

  .introduction__paragraph {
    width: 428px;
    margin-bottom: 65px;

    &--index {
      width: 490px;
      margin-bottom: 45px;
    }

    &--form {
      width: 440px;
      margin-bottom: 50px;
    }
  }

  .introduction__text {
    width: 460px;
    height: 350px;
    padding-top: 75px;
    padding-left: 154px;

    &--photo {
      width: 460px;
      height: 80px;
      padding-top: 95px;
      padding-left: 156px;
    }

    &--form {
      width: 460px;
      height: 80px;
      padding-top: 95px;
      padding-left: 155px;
    }
  }

  .introduction__image {
    width: auto;
    margin-bottom: 55px;

    background: url("../img/bg-intro-triangle-tablet.svg") 50% 100% no-repeat,
    url("../img/bg-back-tablet@1x.jpg") 50% 100% no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-intro-triangle-tablet.svg") 50% 100% no-repeat,
      url("../img/bg-back-tablet@2x.jpg") center no-repeat;
      background-size: 768px auto;
    }

    &--photo {
      min-height: 290px;
      margin-bottom: 75px;
    }

    &--form {
      min-height: 290px;
      margin-bottom: 75px;
    }
  }
}

@media (min-width: @desktop-width) {
  .introduction__image {
    width: auto;
    margin-bottom: 50px;

    background: url("../img/bg-intro-triangle-desktop.svg") 50% 101% no-repeat,
    url("../img/bg-back-desktop@1x.jpg") 40% 101% no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-intro-triangle-desktop.svg") 50% 101% no-repeat,
      url("../img/bg-back-desktop@2x.jpg") center no-repeat;
      background-size: 1200px auto;
    }

    &--photo {
      height: 300px;
      margin-bottom: 110px;
    }

    &--form {
      min-height: 300px;
      margin-bottom: 112px;
    }
  }

  .introduction__text {
    padding-left: 370px;

    &--photo {
      padding-top: 100px;
      padding-left: 370px;
    }

    &--form {
      padding-top: 100px;
      padding-left: 365px;
    }
  }

  .introduction__paragraph {
    width: 490px;

    &--index {
      margin-bottom: 53px;
    }

    &--photo {
      width: 430px;
      margin-bottom: 67px;
    }

    &--form {
      margin-bottom: 35px;
    }
  }

  .introduction__title {
    &--photo {
      margin-bottom: 33px;
    }
  }
}
