.map {
  width: 320px;
}

.map-frame {
  position: relative;
  z-index: 2;

  width: 320px;
  height: 350px;

  border: none;
}



@media (min-width: @tablet-width) {
  .map-frame {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map-frame {
    width: 1200px;
  }
}
