.map {
  width: 320px;
}

.map-frame {
  position: relative;
  z-index: 2;

  width: 320px;
  height: 350px;

  border: none;
}
.map__img {
  position: absolute;
  top: 3023px;
  left: 0;
  z-index: 1;;

  margin: 0;
}

@media (min-width: @tablet-width) {
  .map__img {
    top: 2194px;

    width: 768px;
  }

  .map-frame {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map__img {
    top: 2208px;
    left: 352px;

    width: 1200px;
  }

  .map-frame {
    width: 1200px;
  }
}
