.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__hashtag {
  margin: 40px 0;

  text-align: center;
}

.page-footer__designed {
  padding-top: 25px;
  margin-top: 49px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
