.personal-data {
  text-transform: uppercase;

  border: none;
}
.personal-data__title {
  .title-form;
}

.personal-data__label {
  .label-form;
}

.personal-data input::placeholder {
  padding-left: 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}
