.personal-data {
  position: relative;

  text-transform: uppercase;

  border: none;
}

.personal-data input {
  box-sizing: border-box;
  width: 195px;
  margin-bottom: 16px;
  padding: 22px 0 22px 22px;

  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;

  &:nth-of-type(1) {
    width: 230px;
  }

  &:nth-of-type(3) {
    margin-left: 5px;
  }
  // активные стили персональных данных
  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
  //
}


.personal-data__title {
  width: 320px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 13px;

  border-top: 1px solid #e6e6e6;

  .title-form();
}

.personal-data__label {
  margin-right: 14px;

  .label-form();
}

.personal-data input::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .personal-data {
    width: 280px;
    margin-bottom: 45px;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -43px;

      width: 1px;
      height: 292px;

      background-color: #f2f2f2;
    }
  }

  .personal-data__title {
    width: 0;
    margin-bottom: 42px;
    padding-top: 23px;
    padding-left: 15px;

    font-size: 21px;
    text-align: left;

    border: none;
  }

  .personal-data__label {
    margin-right: 9px;
    margin-left: 14px;

    text-align: left;
  }

  .personal-data input {
    width: 178px;

    &:nth-of-type(1) {
      width: 216px;
    }
  }
}

@media (min-width: @desktop-width) {
  .personal-data {
    width: 450px;

    &::before {
      left: -30px;
    }
  }

  .personal-data input {
    width: 312px;

    &:nth-of-type(1) {
      width: 350px;
    }
  }

  .personal-data__title {
    margin-bottom: 45px;
    margin-left: 35px;
  }

  .personal-data__label {
    margin: 0;
    margin-right: 10px;
    margin-left: 49px;
  }
}
