.reason-one {
  text-transform: uppercase;
}

.reason-one__image {
  width: 320px;
  height: 260px;
  margin-bottom: 40px;

  background: url("../img/main-city-mobile@1x.jpg") center no-repeat;
  background-color: #81b3d2;
}

.reason-one__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "PT sans", "Arial", sans-serif;
}

.reason-one__item {
  width: 210px;
  padding-bottom: 40px;
}

.reason-one__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.reason-one__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}


@media (min-width: @tablet-width) {
  .reason-one__wrapper {
    display: flex;
  }

  .reason-one__image {
    width: 100%;
    margin: 0;

    background: url("../img/main-city-tablet@1x.jpg") center no-repeat;
    background-size: 100%;
  }

  .reason-one__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .reason-one__image {
    width: 100%;

    background: url("../img/main-city-desktop@1x.jpg") center no-repeat;
    background-size: 100%;
  }
}
