.reason {
  width: auto;
  margin: 0 0;

  font-weight: normal;
  font-family: "PT sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #81b3d2;

  &--triangle {
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &--other {
    position: relative;

    width: 280px;
    margin: 0 auto;

    list-style: none;

    background-color: #eeeeee;
    border-bottom: 1px solid #d5d5d5;
    &:last-child {
      border: none;
    }
  }
}

.reason__title {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  &--belial {
    padding-top: 42px;
  }

  &--other {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;

    color: #000000;
  }

  &--road {
    margin-top: 10px;
  }

  &--tourist {
    margin-top: 5px;
  }
}

.reason__number,
.reason__text {
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  &--other {
    color: #333333;
  }
}

.reason__number {
  padding-bottom: 12px;
  &--other {
    padding-bottom: 13px;
  }
}

.reason__text {
  width: 265px;
  padding-bottom: 43px;
  &--belial {
    padding-bottom: 40px;
  }

  &--road {
    width: 206px;
  }

  &--other {
    padding-bottom: 30px;
  }

  &--tourist {
    width: 250px;
  }
}

@media (min-width: @tablet-width) {
  .reason {
    width: 375px;
  }

  .reason__text {
    width: 162px;
  }

  .reason__title {
    width: 162px;

    font-size: 21px;
    &--other {
      width: 130px;
    }
  }

  .reason__text {
    padding-bottom: 29px;
    &--other {
      padding-bottom: 49px;
    }
  }

  .reason--triangle {
    background-image: none;
  }

  .reason__text {
    &--place {
      width: 160px;
    }

    &--road {
      width: 132px;
    }

    &--tourist {
      width: 150px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reason {
    width: 540px;
  }

  .reason__title {
    width: 265px;
    &--belial {
      width: 151px;
    }
  }

  .reason__text--belial {
    width: 215px;
  }

  .reason__title--other {
    width: 130px;
  }

  .reason__text {
    width: 265px;
    padding-bottom: 70px;
    &--place {
      width: 285px;
    }

    &--road {
      width: 262px;
    }

    &--tourist {
      width: 260px;
    }
  }
}
