.reason {
  width: auto;
  margin: 0 0;

  font-weight: normal;
  text-transform: uppercase;

  background-color: #81b3d2;

  &--triangle {
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &--other {
    position: relative;

    width: 280px;
    margin: 0 auto;

    list-style: none;

    background-color: #eeeeee;
    border-bottom: 1px solid #d5d5d5;

    &:last-child {
      border: none;
    }
  }
}

.reason__title {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  &--belial {
    padding-top: 40px;
  }

  &--other {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 10px;

    color: #000000;
  }

  &--road {
    margin-top: 10px;
  }

  &--tourist {
    margin-top: 5px;
  }
}

.reason__number,
.reason__text {
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  &--other {
    color: #333333;
  }
}

.reason__number {
  padding-bottom: 15px;

  &--other {
    padding-bottom: 16px;
  }
}

.reason__text {
  width: 265px;
  padding-bottom: 40px;

  &--belial {
    padding-bottom: 37px;
  }

  &--road {
    width: 206px;
  }

  &--other {
    padding-bottom: 23px;
  }

  &--tourist {
    width: 250px;
  }
}

@media (min-width: @tablet-width) {
  .reason {
    width: 256px;

    border: none;
  }

  .reason__title {
    width: 162px;
    padding-top: 45px;

    font-size: 21px;

    &--other {
      width: 130px;
      padding-left: 60px;
    }

    &--belial {
      width: 156px;
    }

    &--road {
      padding-top: 33px;
    }

    &--tourist {
      padding-top: 37px;
    }
  }

  .reason__number {
    padding-bottom: 20px;
  }

  .reason__text {
    width: 162px;
    padding-bottom: 29px;

    &--place {
      width: 160px;
    }

    &--road {
      width: 132px;
    }

    &--tourist {
      width: 150px;
    }

    &--other {
      padding-bottom: 49px;
    }
  }

  .reason_picture {
    height: 256px;
  }

  .reason--triangle {
    background-image: none;
  }
}

@media (min-width: @desktop-width) {
  .reason {
    width: 400px;
  }

  .reason__title {
    width: 165px;
    padding-top: 50px;

    &--belial {
      width: 156px;
      padding-top: 52px;
    }

    &--other {
      width: 130px;
      padding-top: 45px;
      padding-left: 135px;
    }

    &--road {
      padding-top: 35px;
    }

    &--tourist {
      padding-top: 37px;
    }
  }

  .reason__text {
    width: 265px;
    padding-bottom: 55px;

    &--place {
      width: 285px;
    }

    &--road {
      width: 262px;
    }

    &--tourist {
      width: 260px;
    }

    &--belial {
      width: 215px;
    }

    &--other {
      padding-bottom: 65px;
    }
  }
}
