.site-list {
  width: 320px;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  font-family: "PT sans", "Arial", sans-serif;
  text-align: center;

  background-color: #81b3d2;

  &--order {
    order: 1;
  }
}

.site-list__item:nth-child(3) {
  order: 2;
}

.site-list__item:nth-child(4) {
  order: 2;
}

.site-list__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .site-list__item {
    background-color: #ffffff;
  }

  .site-list__link {
    color: #000000;
  }
}
