.visited {
  border: none;
}

.visited__item {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 40px;
  }
}

.visited__title {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 30px;

  text-transform: uppercase;

  border-top: 1px solid #e6e6e6;

  .title-form();
}

.visited__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT sans", "Arial", sans-serif;
  color: #000000;
}

.visited__label {
  position: relative;

  padding-left: 99px;
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 25px;

    width: 50px;
    height: 50px;

    background-color: #f2f2f2;
    border-radius: 3px;
  }
}

.visited__field:checked + .visited__label:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 25px;

  width: 50px;
  height: 50px;

  background: url("../img/icon-tick.svg") center no-repeat;
  background-color: #f2f2f2;
  border-radius: 3px;
}

@media (min-width: @tablet-width) {
  .visited {
    width: 648px;

    border-top: 1px solid #e6e6e6;
  }

  .visited__title {
    font-size: 21px;

    border: none;
  }

  .visited__list {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    margin: 0 auto;
  }

  .visited__item {
    &:nth-child(1) {
      margin-right: 70px;
    }

    &:nth-child(3) {
      margin-right: 90px;
    }
  }
}

@media (min-width: @desktop-width) {
  .visited {
    width: 960px;
  }

  .visited__list {
    width: 960px;
  }

  .visited .visited__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  .visited__label {
    padding-left: 85px;
  }
}
