@tablet-width: 768px;
@desktop-width: 1200px;

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-wrapper {
    width: 1200px;
  }
}
