@font-face {
  font-family: "PT sans", "Arial", "sans-serif";
  src:url("../fonts/ptsans.woff2") format("woff2");
  src:url("../fonts/ptsans.woff1") format("woff1");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT sans", "Arial", "sans-serif";
  src:url("../fonts/ptsansbold.woff2") format("woff2");
  src:url("../fonts/ptsansbold.woff1") format("woff1");
  font-weight: bold;
  font-style: normal;
}

@import "normalize.less";
@import "blocks/site-list.less";
@import "blocks/introduction.less"
