@font-face {
  font-family: "PT sans", "Arial", "sans-serif";
  src:url("../fonts/ptsans.woff2") format("woff2");
  src:url("../fonts/ptsans.woff1") format("woff1");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT sans", "Arial", "sans-serif";
  src:url("../fonts/ptsansbold.woff2") format("woff2");
  src:url("../fonts/ptsansbold.woff1") format("woff1");
  font-weight: bold;
  font-style: normal;
}

@import "normalize.less";
@import "blocks/site-list.less";
@import "blocks/introduction.less";
@import "blocks/reason.less";
@import "blocks/reason-one.less";
@import "blocks/search-hotel.less";
@import "blocks/page-footer.less";
@import "blocks/social.less";
@import "blocks/designed.less";

.button {
  box-sizing: border-box;
  width: 280px;
  padding: 17px 47px;

  font-family: "PT sans", "Arial", "sans-serif";
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;

  background-color: #81b3d2;
}

.hashtag {
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
